* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%); /* Couleur de fond principale, un linear gradient de vert */
    --text-color: #165c26; /* Couleur du texte principal (vert foncé) */
    --toggle-band-color: linear-gradient(90deg, #50C878 0%, #5F9EA0 100%); /* Couleur du bandeau de bascule (vert moyen) */
}

body {
    background-image: var(--bg-color);
    color: var(--text-color);
    font-size: min(3vw, 15px);
    font-family: 'Rubik', sans-serif; /* Ajoutez la police de votre choix */
}

#title {
    text-decoration: none;
    color: var(--text-color);
    font-size: min(10vw, 50px);
    display: block;
    margin: 1% auto; /* Marge verticale de 1% et marge horizontale automatique */
    text-align: center;
}

/* Sélecteur pour les liens non visités */
a {
    color: green; /* Couleur du texte */
    text-decoration: none; /* Soulignement */
}

/* Sélecteur pour les liens visités */
a:visited {
    color: green; /* Couleur du texte */
    text-decoration: underline; /* Soulignement */
}

/* Sélecteur pour les liens au survol de la souris */
a:hover {
    color: darkgreen; /* Couleur du texte au survol */
    text-decoration: underline; /* Soulignement au survol */
}

/* Style du menu déroulant */
#genreFilter, #statusFilter {
    background-color: var(--bg-color);
    text-align: center;
    font-size: 1em; /* Ajoutez la taille de police que vous souhaitez */
    padding: 10px;
    border: 0.1em solid !important; 
    margin: 10px;
    border-radius: 1em;
}

/* Style des options du menu déroulant */
#genreFilter option,  #statusFilter option{
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
}

/* Ajout d'un effet de survol pour les options */
#genreFilter option:hover, #statusFilter option:hover {
    background-color: var(--toggle-band-color) !important;
    color: var(--text-color) !important;
}

#genreFilter option, #statusFilter option{
    background-color: var(--bg-color);
}

/* Style du texte caché */
.hidden-text {
    display: none;
    color: var(--text-color);
    padding: 1em;
    border: 0.1em solid ;
    border-radius: 0.5em;
    background-color: var(--toggle-band-color);
    margin: 1em;
}

.toggle-text {
    padding: min(1%, 8px);
    margin: 1em;
    background-image: var(--toggle-band-color);
    color: var(--text-color);
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
}

.webtoon-info {
    margin-bottom: 1em;
}

label{
    margin-left: 1.5em;
}